<app-header></app-header>
<app-cat-menu></app-cat-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Quản lý web lấy dữa liệu</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Quản lý web lấy dữa liệu</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="file-export">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <form action="#" method="post">
                
                <div class="card-content collapse show">
                  <div class="card-body card-dashboard">                    
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>                  
                    
                    
                    <div class="example-container mat-elevation-z8">                     
                      
                      <mat-table [dataSource]="dataSource">                       
                      
                        
                        <ng-container matColumnDef="catName">
                          <mat-header-cell   *matHeaderCellDef> Tên loại tin tức </mat-header-cell>
                          <mat-cell  *matCellDef="let element"> {{element.catName}} </mat-cell>
                        </ng-container>
                      
                       
                        <ng-container matColumnDef="webTitle">
                          <mat-header-cell  *matHeaderCellDef> Tên Web </mat-header-cell>
                          <mat-cell  *matCellDef="let element"> {{element.webTitle}} </mat-cell>
                        </ng-container>
                      
                        
                        <ng-container matColumnDef="rssLink">
                          <mat-header-cell  *matHeaderCellDef> Link Rss </mat-header-cell>
                          <mat-cell  *matCellDef="let element"> {{element.rssLink}} </mat-cell>
                        </ng-container>        

                        <ng-container matColumnDef="delete">
                          <mat-header-cell  *matHeaderCellDef>  </mat-header-cell>
                          <mat-cell  *matCellDef="let element"> <button mat-raised-button color="accent" (click)="deleteCatWeb(element.catId, element.webId)">Xóa</button> </mat-cell>
                        </ng-container>                    
                       
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSlect(row.catId, row.webId, row.rssLink)"></mat-row>
                      </mat-table>
                      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="pageEvent = onChangePage($event)" showFirstLastButtons>
                      </mat-paginator>
                    </div>                  

                  </div>
                </div>
              </form>
              <form action="#" method="post">
                
                <div class="card-content collapse show">
                  <div class="card-body card-dashboard ex-container">                    
                    <mat-form-field>
                      <mat-label>Tên loại tin tức</mat-label>
                      <mat-select [(ngModel)]="catSelect.id" name= "catId">
                        <mat-option *ngFor="let cat of cats" [value]="cat.id">
                          {{cat.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field> 
                    <mat-form-field>
                      <mat-label>Tên Web</mat-label>
                      <mat-select [(ngModel)]="webSelect.id" name= "webSelect">
                        <mat-option *ngFor="let web of webs" [value]="web.id">
                          {{web.title}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>                 
                    <mat-form-field>
                      <input matInput placeholder="classContent " [(ngModel)]="rssLink" name="rssLink">
                    </mat-form-field> 
                    <div class="example-button-row">                    
                      <button mat-raised-button class ="create" color="primary" (click)="createCatWeb()">Tạo</button>
                      <button mat-raised-button color="primary" (click)="updateCatWeb()">Cập nhật</button>                    
                    </div>                                      
                  </div>                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>