<app-header></app-header>
<app-cat-menu></app-cat-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Quản lý Quyền</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Quản lý Quyền</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="file-export">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <form action="#" method="post">
                <div class="card-header">
                  <h4 class="card-title">Quản lý Quyền</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>                  
                </div>
                <div class="card-content collapse show">
                  <div class="card-body card-dashboard">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Tên Role</th>
                          <!-- <th>Quyền Admin</th> -->
                          <th>Tạo</th>
                          <th>Cập nhật</th>    
                          <th>Xóa </th>
                          <th>Duyệt</th>        
                          <th>Trạng thái</th>  
                          <th>Loại tin tức</th>      
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let role of roles">
                          <td (click)="onGotoRoleEdit(role.id)">{{role.rname}}</td>
                          <!-- <td><input  type="checkbox" [(ngModel)]="role.p_admin" [ngModelOptions]="{standalone: true}" class="checkboxes" value={{role.id}} (change)="toggleRoleAdmin($event)" /></td> -->
                          <td><input  type="checkbox" [(ngModel)]="role.p_create" [ngModelOptions]="{standalone: true}" class="checkboxes" value={{role.id}} (change)="toggleRoleCreate($event)" /></td>
                          <td><input  type="checkbox" [(ngModel)]="role.p_update" [ngModelOptions]="{standalone: true}" class="checkboxes" value={{role.id}} (change)="toggleRoleUpdate($event)" /></td>  
                          <td><input  type="checkbox" [(ngModel)]="role.p_delete" [ngModelOptions]="{standalone: true}" class="checkboxes" value={{role.id}} (change)="toggleRoleDelete($event)" /></td>
                          <td><input  type="checkbox" [(ngModel)]="role.p_approve" [ngModelOptions]="{standalone: true}" class="checkboxes" value={{role.id}} (change)="toggleRoleApprove($event)" /></td>  
                          <td><input  type="checkbox" [(ngModel)]="role.isCheck" [ngModelOptions]="{standalone: true}" class="checkboxes" value={{role.id}} (change)="toggleRoleStatus($event)" /></td> 
                          <td (click)="onGotoRoleEdit(role.id)">{{role.catName}}</td>                     
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>