<app-header></app-header>
<app-cat-menu></app-cat-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Quản lý danh mục</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Quản lý danh mục</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="file-export">
        <div class="row">
          <div class="col-12">
            <div class="card" style="margin-bottom: 0px;">
              <form action="#" method="post">
                <div class="card-header">
                  <h4 class="card-title">Quản lý danh mục</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body card-dashboard">
                    <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Mã danh mục</th>
                          <th>Tên danh mục</th>
                          <th>Danh mục cha</th>
                          <th>Trạng thái</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let cat of catList">
                          <td (click)="onGotoCatEdit(cat.id)">{{cat.id}}</td>
                          <td (click)="onGotoCatEdit(cat.id)">{{cat.name}}</td>
                          <td (click)="onGotoCatEdit(cat.id)">{{cat.parentName}}</td>                                                
                          <td><input type="checkbox" [(ngModel)]="cat.isCheck" [ngModelOptions]="{standalone: true}"
                              class="checkboxes" value={{cat.id}} (change)="toggleCatStatus($event)" /></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
              <div class="card-header" style="padding-bottom: 0px !important;">
                  <h4 class="card-title">Chỉnh sửa danh mục</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
              <div class="card-content">
                <div class="card-body">
                  <div class="form-body">
                    <div class="form" id="frmUser">
                      <div class="row">
                        <div class="form-group col-md-4 mb-2">
                          <label for="projectinput1">Tên Danh Mục</label>
                          <div class="position-relative has-icon-left">
                            <input type="text" class="form-control" id="sCatname" name="sCatname" placeholder="Tên danh mục"
                              [(ngModel)]="sCatname">
                            <div class="form-control-position" style="margin-top: -3px;">
                              <i class="ft-user"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-actions top" style="float: right;">
                        <button type="submit" (click)="updateCat()" class="btn btn-primary">
                          <i class="far fa-check-square" style="margin-right: 5px;"></i>Lưu
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>