<app-header></app-header>
<app-cat-menu></app-cat-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Quản lý phân loại tin tức</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Quản lý phân loại tin tức</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <section id="file-export">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <form action="#" method="post">
                <div class="card-header">
                  <h4 class="card-title">Quản lý phân loại tin tức</h4>
                  <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body card-dashboard">
                    <!-- <table class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Người Viết</th>
                          <th>Tiêu Đề</th>
                          <th>Nội Dung Vắn Tắt</th>
                          <th>Trạng thái</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of items">
                          <td (click)="onGotoItemDetail(item.id)">{{item.author}}</td>
                          <td (click)="onGotoItemDetail(item.id)">{{item.title}}</td>
                          <td (click)="onGotoItemDetail(item.id)">{{item.shortDesc}}</td>    
                         <ng-container *ngIf="item.status == 0 ; else itemApprove">
                          <td (click)="onGotoItemDetail(item.id)">Chờ phân loại</td>
                         </ng-container>
                         <ng-template #itemApprove>
                           <ng-container *ngIf="item.status == 1; else elseDeleteOrUse">
                            <td (click)="onGotoItemDetail(item.id)">Chưa được duyệt</td>
                           </ng-container>
                           <ng-template #elseDeleteOrUse>
                             <ng-container *ngIf="item.status == 2; else elseDelete">
                                <td (click)="onGotoItemDetail(item.id)">Đang sử dụng</td>
                             </ng-container>
                             <ng-template #elseDelete>
                                <td (click)="onGotoItemDetail(item.id)">Đã xóa</td>
                             </ng-template>                            
                            
                           </ng-template>                           
                         </ng-template>                       
                          
                        </tr>
                      </tbody>
                    </table> -->
                    <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>  
                    <div class="example-container mat-elevation-z8">
                      <mat-table [dataSource]="dataSource">

                        <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->


                        <ng-container matColumnDef="title">
                          <mat-header-cell *matHeaderCellDef> Tiêu đề </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="shortDesc">
                          <mat-header-cell *matHeaderCellDef> Nội dung vắn tắt </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.shortDesc}} </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="author">
                          <mat-header-cell *matHeaderCellDef> Tác giả </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="status">
                          <mat-header-cell *matHeaderCellDef> Trạng thái </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                            <ng-container *ngIf="element.status == 0; else elseApprove">
                              Chờ phân loại
                            </ng-container>
                            <ng-template #elseApprove>
                              <ng-container *ngIf="element.status == 1; else elseUse">
                                Chờ được duyệt
                              </ng-container>
                              <ng-template #elseUse>
                                Đang sử dụng
                              </ng-template>
                            </ng-template>
                          </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"
                          (click)="onGotoItemDetail(row.id)"></mat-row>
                      </mat-table>
                      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                        (page)="pageEvent = onChangePage($event)" showFirstLastButtons>
                      </mat-paginator>
                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>