<app-header></app-header>
<app-cat-menu></app-cat-menu>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title">Thêm mới tin tức</h3>
        <div class="row breadcrumbs-top">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">Thêm tin tức</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="content-body">
        <!-- Striped label form layout section start -->
        <section id="striped-label-form-layouts">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title" id="striped-label-layout-card-center">Đăng tin mới</h4>
                  <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body">
                    <div class="card-text">
                      <p>Điền đầy đủ các trường sau để đăng tin tức mới</p>
                    </div>
                    <form method="POST" (ngSubmit)="onSaveImage()" novalidate class="form form-horizontal striped-rows form-bordered">
                      <div class="form-body">
                        <div class="form-group row">
                          <label class="col-md-2 label-control" for="eventRegInput1">Tiêu đề</label>
                          <div class="col-md-9">
                            <input field="" type="text" id="title" class="form-control" placeholder="Nhậ­p tiêu đề tin tức"
                              name="title" [(ngModel)]="item.title">
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-2 label-control" style="padding-top: 18px;">Ảnh đại diện</label>
                          <div class="col-md-9" id="uploadFile">
                            <label id="projectinput8" class="file center-block">
                              <input type="file" id="file" name="avatar" (change)="onChangedImage($event)" #fileInput
                                accept="image/*">
                              <span class="file-custom"></span>
                            </label>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-2 label-control" for="eventRegInput3">Mô tả vắn tắt</label>
                          <div class="col-md-9">
                            <input field="" type="text" id="shortDesc" [(ngModel)]="item.shortDesc" class="form-control"
                              placeholder="Nhậ­p mô tả vắn tắt" name="shortDesc">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-2 label-control" for="eventRegInput4">Nội dung</label>
                          <div class="col-md-9">
                            <ckeditor name="fullDesc" [(ngModel)]="item.fullDesc" [editor]="Editor" id="fullDesc" name="fullDesc">
                            </ckeditor>
                            <!-- <textarea field="" rows="12" class="form-control ckeditor"  name="fullDesc"></textarea> -->
                          </div>
                        </div>

                      </div>
                      <div class="form-actions">
                        <div class="row">
                          <div class="col-md-3 offset-md-1">
                          </div>
                          <div class="col-md-3 offset-md-1">
                            <button type="submit" class="btn btn-lg btn-block font-medium-1 btn-outline-cyan mb-1 block-without-msg">
                              <i class="ft-plus-circle"></i> Thêm tin tức mới
                            </button>
                          </div>
                          <div class="col-md-2 offset-md-1">
                            <a class="btn btn-lg btn-block font-medium-1 btn-outline-cyan mb-1 block-without-msg" href="">
                              <i class="ft-x-circle"></i> Hủy
                            </a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>