.ex-container {
    display: flex;
    flex-direction: column;    
  }
  
  .ex-container > * {
    width: 40%;
    margin: auto;
  }

  .example-button-row button {
  margin-right : 16px;   
}   
  .create {
  margin-left : 250px;   
}   
