<div class="bodyy">
  <app-header></app-header>
  <app-cat-menu></app-cat-menu>
  <div class="app-content content" style="min-height: 725px;">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
        <section class="category">
          <div class="container">
            <div class="row">
              <div class="col-md-8 text-left">
                <div class="row">
                  <div class="col-md-12">
                    <ol class="breadcrumb">
                      <li><a href="">Home </a></li>
                      <li><a style="margin-left: 3px;margin-right: 3px;">/</a></li>
                      <li class="active">{{catName}}</li>
                    </ol>
                    <h1 class="page-title">Danh mục: {{catName}}</h1>
                    <p class="page-subtitle">Hiển thị tất cả các bài viết với thể loại <i> {{catName}}</i></p>
                  </div>
                </div>
                <div class="line"></div>
                <div class="row">
                  <div style="width: 100%;" *ngFor="let item of items">
                    <article class="col-md-12 article-list" style="margin-bottom: 5px">
                      <div class="inner">
                        <figure>
                          <a href="/newsdetail/{{item.itemId}}">
                            <img [src]="item.image" width="100%" height="100%">
                          </a>
                        </figure>
                        <div class="details">
                          <div class="detail">
                            <div class="category">
                              <a href="/newscategory/{{id}}">{{catName}}</a>
                            </div>
                            <div class="time">{{item.dateUpdated | date : "dd/MM/yyyy"}}</div>
                          </div>
                          <h1><a href="/newsdetail/{{item.itemId}}">{{item.title}}</a></h1>
                          <p>{{item.shortDesc}}</p>
                          <footer>
                            <a class="love"><i class="ion-android-favorite-outline"></i>
                              <div>{{item.likes}}</div>
                            </a>
                            <a class="btn btn-primary more" href="/newsdetail/{{item.itemId}}">
                              <div>More</div>
                              <div><i class="ion-ios-arrow-thin-right"></i></div>
                            </a>
                          </footer>
                        </div>
                      </div>
                    </article>
                  </div>
               

                </div>
              </div>
              <div class="col-md-4 sidebar">
                <aside>
                  <div class="aside-body">
                    <figure class="ads">
                      <img src="/assets/magz-master/images/news/ad.jpg">
                      <figcaption>Advertisement</figcaption>
                    </figure>
                  </div>
                </aside>
                <aside>
                  <h1 class="aside-title">Tin thường xem</h1>
                  <div class="aside-body">
                    <article class="article-fw" *ngIf="itemLast1 !== undefined">
                      <div class="inner">
                        <figure>
                          <a href="/newsdetail/{{itemLast1.id}}">
                            <img [src]="itemLast1.image" alt="Sample Article">
                          </a>
                        </figure>

                        <div class="details">
                          <h1><a href="/newsdetail/{{itemLast1.id}}">{{itemLast1.title}}</a></h1>
                          <p>{{itemLast1.shortDesc}}</p>
                          <div class="detail">
                            <div class="time">{{itemLast1.dateUpdated | date : "dd/MM/yyyy"}}</div>
                          </div>
                        </div>
                      </div>
                    </article>
                    <div class="line"></div>
                    <article class="article-mini" *ngIf="itemLast2 !== undefined">
                      <div class="inner">
                        <figure>
                          <a href="/newsdetail/{{itemLast2.id}}">
                            <img [src]="itemLast2.image" alt="Sample Article">
                          </a>
                        </figure>
                        <div class="padding">
                          <h1><a href="/newsdetail/{{itemLast2.id}}">{{itemLast2.title}}</a></h1>
                          <div class="detail">
                            <div class="time">{{itemLast2.dateUpdated | date : "dd/MM/yyyy"}}</div>
                          </div>
                        </div>
                      </div>
                    </article>
                    <article class="article-mini" *ngIf="itemLast3 !== undefined">
                      <div class="inner">

                        <figure>
                          <a href="/newsdetail/{{itemLast3.id}}">
                            <img [src]="itemLast3.image" alt="Sample Article">
                          </a>
                        </figure>

                        <div class="padding">
                          <h1><a href="/newsdetail/{{itemLast3.id}}">{{itemLast3.title}}</a></h1>
                          <div class="detail">
                            <div class="time">{{itemLast3.dateUpdated | date : "dd/MM/yyyy"}}</div>
                          </div>
                        </div>
                      </div>
                    </article>
                    <article class="article-mini" *ngIf="itemLast4 !== undefined">
                      <div class="inner">
                        <figure>
                          <a href="/newsdetail/{{itemLast4.id}}">
                            <img [src]="itemLast4.image" alt="Sample Article">
                          </a>
                        </figure>
                        <div class="padding">
                          <h1><a href="/newsdetail/{{itemLast4.id}}">{{itemLast4.title}}</a></h1>
                          <div class="detail">
                            <div class="time">{{itemLast4.dateUpdated | date : "dd/MM/yyyy"}}</div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </aside>

              </div>
            </div>
          </div>
        </section>
        <div class="col-md-12 text-center">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center pagination-separate pagination-curved">
              <li class="page-item" [className]="current==0?'disabled':'enable'">
                <a class="page-link" aria-label="Previous" (click)="onPrePage()">
                  <span aria-hidden="true">
                    << </span> </a> </li> <li class="page-item"
                      [className]="ite === current ? 'active' : 'inactive'" *ngFor="let ite of pageArray">
                      <a class="page-link" (click)="onGotoPage(ite)">{{ite + 1}}</a>
              </li>
              <li class="page-item" [className]="current==pageNumber-1?'disabled':'enable'">
                <a class="page-link" aria-label="Next" (click)="onNextPage()">
                  <span aria-hidden="true"> >> </span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>