<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow"
  style="height: 43px;">
  <div class="navbar-container main-menu-content container center-layout" data-menu="menu-container" style="height: 43px;">
    <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
      <div *ngIf="isDashboard == true">
        <li class="dropdown nav-item" data-menu="dropdown">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown">
            <span data-i18n="nav.dash.main">Dashboard</span>
          </a>
          <ul class="dropdown-menu">
            <div *ngIf="isAdmin == true">
              <li data-menu=""><a class="dropdown-item" (click)="goTo(1)"  data-toggle="dropdown">Quản
                  lý người dùng</a>
              </li>
              <li data-menu=""><a class="dropdown-item" (click)="goTo(2)"  data-toggle="dropdown">Quản
                  lý quyền</a>
              </li>
              <li data-menu=""><a class="dropdown-item" (click)="goTo(3)"  data-toggle="dropdown">Tạo quyền</a>
              </li>
              <li data-menu=""><a class="dropdown-item" (click)="goTo(9)"  data-toggle="dropdown">Quản lý web rss</a>
              </li>
              <li data-menu=""><a class="dropdown-item" (click)="goTo(10)"  data-toggle="dropdown">Quản lý link rss</a>
              </li>
              <li data-menu=""><a class="dropdown-item" (click)="goTo(11)"  data-toggle="dropdown">Xem thống kê tin tức theo danh mục</a>
              </li>
            </div>
            <div *ngIf="isMod == true">             
              <li data-menu=""><a class="dropdown-item" (click)="goTo(4)"  data-toggle="dropdown">Quản
                  lý tin tức</a>
              </li>
            </div>
            <div *ngIf="isManage == true">
                <li data-menu=""><a class="dropdown-item" (click)="goTo(5)"  data-toggle="dropdown">Phân loại
                tin tức</a>
                </li>
            </div>
            <div *ngIf="isManage == true">
                <li data-menu=""><a class="dropdown-item" (click)="goTo(6)" data-toggle="dropdown">Quản
                  lý danh mục</a>
              </li>
              <li data-menu=""><a class="dropdown-item" (click)="goTo(7)"  data-toggle="dropdown">Tạo
                  danh mục</a>
              </li>
            </div>
            <div *ngIf="isCreate == true">
              <li data-menu=""><a class="dropdown-item" (click)="goTo(8)"  data-toggle="dropdown">Tạo
                  tin tức</a>
              </li>
            </div>            
          </ul>
        </li>
      </div>
      <li class="dropdown nav-item"><a class="dropdown nav-link" href="/"><span>Trang
            chủ</span></a>
      </li>
      <div *ngFor="let cat of catList">
        <li class="dropdown nav-item"><a class="dropdown nav-link" href="/newscategory/{{cat.id}}">
            <span>{{cat.name}}</span></a>
            <ul *ngIf="cat.isNullChildCat != 0" class="dropdown-menu"> 
              <div *ngFor="let c of cat.childCat"> 
                  <li data-menu=""><a class="dropdown-item" href="/newscategory/{{c.id}}" data-toggle="dropdown">{{c.name}}</a>
                  </li>
                  </div>
              </ul>
        </li>
      </div>
    </ul>
  </div>
</div>